.item{
    width: 100%;
    height: 40px;
    font-size: 18px;
    text-align: left;
    justify-content: center;
    line-height:40px;
    box-sizing: border-box;
    padding-left: 15px;
}

.selectedItem{
    width: 100%;
    height: 40px;
    font-size: 18px;
    text-align: left;
    justify-content: center;
    line-height:40px;
    box-sizing: border-box;
    padding-left: 15px;
    background-color: var(--mainColor);
    color: #FFFFFF;
}

.item:hover{
    border: 1px solid var(--mainColor);
}