#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#shadowId {
  background-color: #0000001A;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 0;
  z-index: 1;
  transition: height 0.5s;
}

#shadowId.opened {
  height: 100vh;
}