@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");

:root {
  --mainFont: "Montserrat", sans-serif;
  --mainColor: #324bff;
  line-height: 1.5;

  color-scheme: light dark;
  background-image: linear-gradient(to right, #a1c4fd, #c2e9fb);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
